In [1]:
print('This is a string {}'.format('Inserted'))

This is a string Inserted

In [7]:
print('The {f} {b} {q}'.format(f='fox',b='brown',q='quick'))

The fox brown quick

In [9]:
result=100/777

In [10]:
result

0.1287001287001287

In [15]:
print("the result was {r:1.3f}".format(r=result))

the result was 0.129

In [16]:
name="Jose"

In [17]:
print(f'Hello my name is {name}')

Hello my name is Jose

In [18]:
name="Sam"
age=3

In [24]:
print(f'{name}\'s age is {age}')

Sam's age is 3

In [25]:
list1=['one','two','three']

In [26]:
list2=['four','five']

In [27]:
list3=list1+list2

In [28]:
list3

['one', 'two', 'three', 'four', 'five']

In [29]:
list3.append('six')

In [30]:
list3

['one', 'two', 'three', 'four', 'five', 'six']

In [31]:
list3[0]="ONE ALL CAPS"

In [32]:
list3

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [33]:
popped_item=list3.pop()

In [34]:
popped_item

'six'

In [35]:
new_list=['a','e','x','b','c']
num_list=[4,1,8,3]

In [36]:
new_list.sort()

In [37]:
new_list

['a', 'b', 'c', 'e', 'x']

In [38]:
new_list.sort()
my_sorted_list=new_list

In [39]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [40]:
num_list.sort()

In [41]:
num_list

[1, 3, 4, 8]

In [46]:
num_list.reverse()

In [47]:
num_list

[8, 4, 3, 1]

In [48]:
prices_lookup={'apple':2.99,'oranges':1.99,'milk':5.80}

In [49]:
prices_lookup

{'apple': 2.99, 'milk': 5.8, 'oranges': 1.99}

In [50]:
prices_lookup['apple']

2.99

In [ ]:
d={'k1':123}

In [1]:
my_dict={"key1":'value1','key2':'value2'}

In [2]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
my_dict['key1']

'value1'

In [5]:
d={'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [6]:
d['k2']

[0, 1, 2]

In [7]:
d['k3']

{'insideKey': 100}

In [8]:
d['k3']['insideKey']

100

In [9]:
d={'key1':['a','b','c']}

In [10]:
d['key1'][2].upper()

'C'

In [2]:
d={'k1':100,'k2':200,'k3':300}

In [3]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [4]:
d['k1']='NEW VALUE'

In [6]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [8]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [9]:
d.values()

dict_values(['NEW VALUE', 200, 300])

In [10]:
d.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

In [11]:
t=(1,2,3)

In [12]:
mylist=[1,2,3]

In [13]:
type(t)

tuple

In [14]:
type(mylist)

list

In [15]:
t=('one',2)

In [17]:
t

('one', 2)

In [19]:
a="milind"
print(a)

milind

In [2]:
t=('a','a','b')

In [4]:
t.count('a')

2

In [5]:
t.index('a')

0

myset=set()

In [7]:
myset

set()

In [8]:
myset.add(1)

In [9]:
myset

{1}

In [10]:
myset.add(2)

In [11]:
myset

{1, 2}

In [12]:
myset.add(2)

In [13]:
myset

{1, 2}

In [15]:
mylist={1,1,1,1,2,2,2,3,3}

In [16]:
set(mylist)

{1, 2, 3}

In [18]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [19]:
myfile=open('myfile.txt')

In [20]:
myfile=open('whoops.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops.txt'

In [21]:
pwd

'C:\\Users\\Milind_N13'

In [23]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [24]:
myfile.read()

''

In [25]:
myfile.seek(0)

0

In [26]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [34]:
myfile=open('myfile.txt')

In [35]:
contents=myfile.read()

In [36]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [40]:
myfile=open('myfile.txt')

In [41]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [42]:
myfile.close()

In [43]:
with open('myfile.txt') as my_new_file:
    contents=my_new_file.read()

In [44]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [45]:
with open('myfile.txt',mode='r') as myfile:
    contents=myfile.read()

In [46]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [47]:
with open('myfile.txt',mode='a') as myfile:
    contents=myfile.read()

UnsupportedOperation: not readable

In [54]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [49]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [55]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [56]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [58]:
with open('sdasdasdas.txt',mode='w') as f:
    f.write('I created this file!')

In [59]:
with open('sdasdasdas.txt',mode='r') as f:
    print(f.read())

I created this file!

In [66]:
list1=[5,46,6]

for item in list1:
    print(item)

5
46
6

In [68]:
mylist=[(5,4,6),(99,55,44)]
for (a,b,c) in mylist:
    print(a)
    print(b)
    print(c)

5
4
6
99
55
44

In [69]:
x=[1,2,3]

for item in x:
    pass

print('end of script')

end of script

In [1]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
index_count=0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [3]:
word ='abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [4]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [5]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [6]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [7]:
'x' in [1,2,3]

False

In [9]:
mylist=[10,20,30,40,50]

In [11]:
min(mylist)

10

In [12]:
max(mylist)

50

In [13]:
from random import shuffle

In [14]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [15]:
shuffle(mylist)

In [16]:
mylist

[4, 9, 6, 10, 8, 7, 5, 2, 1, 3]

In [18]:
from random import randint

In [19]:
randint(0,1000)

803

In [20]:
mynum=randint(0,10)

In [21]:
mynum

8

In [24]:
result=input('Enter a number her: ')

Enter a number her: 1

In [25]:
result

'1'

In [26]:
mystring='hello'

In [29]:
mylist=[]

for letter in mystring:
    mylist.append(letter)

In [30]:
mylist

['h', 'e', 'l', 'l', 'o']

In [31]:
mylist=[letter for letter in mystring]

In [32]:
mylist

['h', 'e', 'l', 'l', 'o']

In [33]:
mylist=[x for x in 'word']

In [34]:
mylist

['w', 'o', 'r', 'd']

In [35]:
mylist=[num**2 for num in range(0,11)]

In [36]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
mylist=[num for num in range(0,11)]

In [39]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
mylist=[x for x in range(0,11) if x%2==0]

In [42]:
mylist

[0, 2, 4, 6, 8, 10]

In [44]:
celcius=[0,23,100]

fahrenheit=[((9/5)*temp + 32) for temp in celcius]

In [45]:
fahrenheit

[32.0, 73.4, 212.0]

In [46]:
mylist=[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [47]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [48]:
mylist=[x*y for x in [1,2,3] for y in [1,10,1000] ]

In [49]:
mylist

[1, 10, 1000, 2, 20, 2000, 3, 30, 3000]